In [1]:
import pandas as pd
import numpy as np

In [2]:
data={
    
    "col1":list(np.random.randint(1,100,size=(10))),
    "col2":list(np.random.randint(1,100,size=(10))),
    "col3":list(np.random.randint(1,100,size=(10))),
    "col4":list(np.random.randint(1,100,size=(10))),
    "col5":list(np.random.randint(1,100,size=(10)))
}

In [3]:
data

{'col1': [22, 23, 60, 99, 55, 32, 59, 13, 20, 46],
 'col2': [93, 20, 90, 72, 69, 7, 2, 97, 75, 90],
 'col3': [92, 13, 83, 33, 56, 61, 35, 11, 56, 72],
 'col4': [82, 88, 80, 99, 60, 27, 40, 68, 78, 92],
 'col5': [28, 92, 7, 2, 21, 13, 99, 52, 74, 46]}

In [4]:
df=pd.DataFrame(data)

In [5]:
df

   col1  col2  col3  col4  col5
0    22    93    92    82    28
1    23    20    13    88    92
2    60    90    83    80     7
3    99    72    33    99     2
4    55    69    56    60    21
5    32     7    61    27    13
6    59     2    35    40    99
7    13    97    11    68    52
8    20    75    56    78    74
9    46    90    72    92    46

In [6]:
#series
df.to_csv("example.csv")

In [7]:
titanic=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [8]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
#EDA: Exploratory data analysis
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
titanic.shape

(891, 12)

In [11]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [12]:
titanic.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [13]:
titanic.duplicated().sum()

0

In [14]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [16]:
pd.set_option("display.max_rows",None)

In [17]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
108,109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
122,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
123,124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
129,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C
178,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
188,189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
189,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S
191,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
203,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
218,219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
219,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
222,223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
239,240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
245,246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,NaN,S
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S
250,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S
253,254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S

In [18]:
titanic.head(891)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
108,109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
122,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
123,124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
129,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C
178,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
188,189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
189,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S
191,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
203,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
218,219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
219,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
222,223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
239,240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
245,246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,NaN,S
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S
250,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S
253,254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S

In [19]:
titanic[10:15]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S

In [20]:
titanic.iloc[30:40]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C

In [21]:
titanic.Name

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
30                              Uruchurtu, Don. Manuel E
31        Spencer, Mrs. William Augustus (Marie Eugenie)
32                              Glynn, Miss. Mary Agatha
33                                 Wheadon, Mr. Edward H
34                               Meyer, Mr. Edgar Joseph
35                        Holverson, Mr. Alexander Oskar
36                                      Mamee, Mr. Hanna
37                              Cann, Mr. Ernest Charles
38                    Vander Planke, Miss. Augusta Maria
39                           Nicola-Yarred, Miss. Jamila
40        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
41     Turpin, Mrs. William John Robert (Dorothy Ann ...
42                                   Kraeff, Mr. Theodor
43              Laroche, Miss. Simonne Marie Anne Andree
44                         Devaney, Miss. Margaret Delia
45                              Rogers, Mr. William John
46                                     Lennon, Mr. Denis
47                             O'Driscoll, Miss. Bridget
48                                   Samaan, Mr. Youssef
49         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
50                            Panula, Master. Juha Niilo
51                          Nosworthy, Mr. Richard Cater
52              Harper, Mrs. Henry Sleeper (Myna Haxtun)
53     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
54                        Ostby, Mr. Engelhart Cornelius
55                                     Woolner, Mr. Hugh
56                                     Rugg, Miss. Emily
57                                   Novel, Mr. Mansouer
58                          West, Miss. Constance Mirium
59                    Goodwin, Master. William Frederick
60                                 Sirayanian, Mr. Orsen
61                                   Icard, Miss. Amelie
62                           Harris, Mr. Henry Birkhardt
63                                 Skoog, Master. Harald
64                                 Stewart, Mr. Albert A
65                              Moubarek, Master. Gerios
66                          Nye, Mrs. (Elizabeth Ramell)
67                              Crease, Mr. Ernest James
68                       Andersson, Miss. Erna Alexandra
69                                     Kink, Mr. Vincenz
70                            Jenkin, Mr. Stephen Curnow
71                            Goodwin, Miss. Lillian Amy
72                                  Hood, Mr. Ambrose Jr
73                           Chronopoulos, Mr. Apostolos
74                                         Bing, Mr. Lee
75                               Moen, Mr. Sigurd Hansen
76                                     Staneff, Mr. Ivan
77                              Moutal, Mr. Rahamin Haim
78                         Caldwell, Master. Alden Gates
79                              Dowdell, Miss. Elizabeth
80                                  Waelens, Mr. Achille
81                           Sheerlinck, Mr. Jan Baptist
82                        McDermott, Miss. Brigdet Delia
83                               Carrau, Mr. Francisco M
84                                   Ilett, Miss. Bertha
85     Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
86                                Ford, Mr. William Neal
87                         Slocovski, Mr. Selman Francis
88                            Fortune, Miss. Mabel Helen
89                                Celotti, Mr. Francesco
90                                  Christmann, Mr. Emil
91                            Andreasson, Mr. Paul Edvin
92                           Chaffee, Mr. Herbert Fuller
93                               Dean, Mr. Bertram Frank
94                                     Coxon, Mr. Daniel
95                           Shorney, Mr. Charles Joseph
96                             Goldschmidt, Mr. George B
97                       Greenfield, Mr. William Bertram
98                  Doling, Mrs. John T (Ada Julia Bone)
99                                     Kantor, Mr. Sinai
100                              Petranec, Miss. Matilda
101                     Petroff, Mr. Pastcho ("Pentcho")
102                            White, Mr. Richard Frasar
103                           Johansson, Mr. Gustaf Joel
104                       Gustafsson, Mr. Anders Vilhelm
105                                Mionoff, Mr. Stoytcho
106                     Salkjelsvik, Miss. Anna Kristine
107                               Moss, Mr. Albert Johan
108                                      Rekic, Mr. Tido
109                                  Moran, Miss. Bertha
110                       Porter, Mr. Walter Chamberlain
111                                 Zabour, Miss. Hileni
112                               Barton, Mr. David John
113                              Jussila, Miss. Katriina
114                                Attalah, Miss. Malake
115                                Pekoniemi, Mr. Edvard
116                                 Connors, Mr. Patrick
117                      Turpin, Mr. William John Robert
118                             Baxter, Mr. Quigg Edmond
119                    Andersson, Miss. Ellis Anna Maria
120                          Hickman, Mr. Stanley George
121                           Moore, Mr. Leonard Charles
122                                 Nasser, Mr. Nicholas
123                                  Webber, Miss. Susan
124                          White, Mr. Percival Wayland
125                         Nicola-Yarred, Master. Elias
126                                  McMahon, Mr. Martin
127                            Madsen, Mr. Fridtjof Arne
128                                    Peter, Miss. Anna
129                                   Ekstrom, Mr. Johan
130                                 Drazenoic, Mr. Jozef
131                       Coelho, Mr. Domingos Fernandeo
132       Robins, Mrs. Alexander A (Grace Charity Laury)
133        Weisz, Mrs. Leopold (Mathilde Francoise Pede)
134                       Sobey, Mr. Samuel James Hayden
135                                   Richard, Mr. Emile
136                         Newsom, Miss. Helen Monypeny
137                          Futrelle, Mr. Jacques Heath
138                                  Osen, Mr. Olaf Elon
139                                   Giglio, Mr. Victor
140                        Boulos, Mrs. Joseph (Sultana)
141                             Nysten, Miss. Anna Sofia
142    Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...
143                                  Burke, Mr. Jeremiah
144                           Andrew, Mr. Edgardo Samuel
145                         Nicholls, Mr. Joseph Charles
146         Andersson, Mr. August Edvard ("Wennerstrom")
147                     Ford, Miss. Robina Maggie "Ruby"
148             Navratil, Mr. Michel ("Louis M Hoffman")
149                    Byles, Rev. Thomas Roussel Davids
150                           Bateman, Rev. Robert James
151                    Pears, Mrs. Thomas (Edith Wearne)
152                                     Meo, Mr. Alfonzo
153                      van Billiard, Mr. Austin Blyler
154                                Olsen, Mr. Ole Martin
155                          Williams, Mr. Charles Duane
156                     Gilnagh, Miss. Katherine "Katie"
157                                      Corn, Mr. Harry
158                                  Smiljanic, Mr. Mile
159                           Sage, Master. Thomas Henry
160                             Cribb, Mr. John Hatfield
161    Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...
162                           Bengtsson, Mr. John Viktor
163                                      Calic, Mr. Jovo
164                         Panula, Master. Eino Viljami
165      Goldsmith, Master. Frank John William "Frankie"
166               Chibnall, Mrs. (Edith Martha Bowerman)
167      Skoog, Mrs. William (Anna Bernhardina Karlsson)
168                                  Baumann, Mr. John D
169                                        Ling, Mr. Lee
170                            Van der hoef, Mr. Wyckoff
171                                 Rice, Master. Arthur
172                         Johnson, Miss. Eleanor Ileen
173                            Sivola, Mr. Antti Wilhelm
174                              Smith, Mr. James Clinch
175                               Klasen, Mr. Klas Albin
176                        Lefebre, Master. Henry Forbes
177                           Isham, Miss. Ann Elizabeth
178                                   Hale, Mr. Reginald
179                                  Leonard, Mr. Lionel
180                         Sage, Miss. Constance Gladys
181                                     Pernot, Mr. Rene
182                Asplund, Master. Clarence Gustaf Hugo
183                            Becker, Master. Richard F
184                  Kink-Heilmann, Miss. Luise Gretchen
185                                Rood, Mr. Hugh Roscoe
186      O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
187        Romaine, Mr. Charles Hallace ("Mr C Rolmane")
188                                     Bourke, Mr. John
189                                  Turcin, Mr. Stjepan
190                                  Pinsky, Mrs. (Rosa)
191                                Carbines, Mr. William
192      Andersen-Jensen, Miss. Carla Christine Nielsine
193                           Navratil, Master. Michel M
194            Brown, Mrs. James Joseph (Margaret Tobin)
195                                 Lurette, Miss. Elise
196                                  Mernagh, Mr. Robert
197                     Olsen, Mr. Karl Siegwart Andreas
198                     Madigan, Miss. Margaret "Maggie"
199               Yrois, Miss. Henriette ("Mrs Harbeck")
200                       Vande Walle, Mr. Nestor Cyriel
201                                  Sage, Mr. Frederick
202                           Johanson, Mr. Jakob Alfred
203                                 Youseff, Mr. Gerious
204                             Cohen, Mr. Gurshon "Gus"
205                           Strom, Miss. Telma Matilda
206                           Backstrom, Mr. Karl Alfred
207                          Albimona, Mr. Nassef Cassem
208                            Carr, Miss. Helen "Ellen"
209                                     Blank, Mr. Henry
210                                       Ali, Mr. Ahmed
211                           Cameron, Miss. Clear Annie
212                               Perkin, Mr. John Henry
213                          Givard, Mr. Hans Kristensen
214                                  Kiernan, Mr. Philip
215                              Newell, Miss. Madeleine
216                               Honkanen, Miss. Eliina
217                         Jacobsohn, Mr. Sidney Samuel
218                                Bazzani, Miss. Albina
219                                   Harris, Mr. Walter
220                       Sunderland, Mr. Victor Francis
221                                 Bracken, Mr. James H
222                              Green, Mr. George Henry
223                                 Nenkoff, Mr. Christo
224                         Hoyt, Mr. Frederick Maxfield
225                         Berglund, Mr. Karl Ivar Sven
226                            Mellors, Mr. William John
227                      Lovell, Mr. John Hall ("Henry")
228                            Fahlstrom, Mr. Arne Jonas
229                              Lefebre, Miss. Mathilde
230         Harris, Mrs. Henry Birkhardt (Irene Wallach)
231                             Larsson, Mr. Bengt Edvin
232                            Sjostedt, Mr. Ernst Adolf
233                       Asplund, Miss. Lillian Gertrud
234                    Leyson, Mr. Robert William Norman
235                         Harknett, Miss. Alice Phoebe
236                                    Hold, Mr. Stephen
237                     Collyer, Miss. Marjorie "Lottie"
238                      Pengelly, Mr. Frederick William
239                               Hunt, Mr. George Henry
240                                Zabour, Miss. Thamine
241                       Murphy, Miss. Katherine "Kate"
242                      Coleridge, Mr. Reginald Charles
243                        Maenpaa, Mr. Matti Alexanteri
244                                 Attalah, Mr. Sleiman
245                          Minahan, Dr. William Edward
246                Lindahl, Miss. Agda Thorilda Viktoria
247                      Hamalainen, Mrs. William (Anna)
248                        Beckwith, Mr. Richard Leonard
249                        Carter, Rev. Ernest Courtenay
250                               Reed, Mr. James George
251           Strom, Mrs. Wilhelm (Elna Matilda Persson)
252                            Stead, Mr. William Thomas
253                             Lobb, Mr. William Arthur
254             Rosblom, Mrs. Viktor (Helena Wilhelmina)
255              Touma, Mrs. Darwis (Hanne Youssef Razi)
256                       Thorne, Mrs. Gertrude Maybelle
257                                 Cherry, Miss. Gladys
258                                     Ward, Miss. Anna
259                          Parrish, Mrs. (Lutie Davis)
260                                    Smith, Mr. Thomas
261                    Asplund, Master. Edvin Rojj Felix
262                                    Taussig, Mr. Emil
263                                Harrison, Mr. William
264                                   Henry, Miss. Delia
265                                    Reeves, Mr. David
266                            Panula, Mr. Ernesti Arvid
267                             Persson, Mr. Ernst Ulrik
268        Graham, Mrs. William Thompson (Edith Junkins)
269                               Bissette, Miss. Amelia
270                                Cairns, Mr. Alexander
271                         Tornquist, Mr. William Henry
272            Mellinger, Mrs. (Elizabeth Anne Maidment)
273                                Natsch, Mr. Charles H
274                           Healy, Miss. Hanora "Nora"
275                    Andrews, Miss. Kornelia Theodosia
276                    Lindblom, Miss. Augusta Charlotta
277                          Parkes, Mr. Francis "Frank"
278                                   Rice, Master. Eric
279                     Abbott, Mrs. Stanton (Rosa Hunt)
280                                     Duane, Mr. Frank
281                     Olsson, Mr. Nils Johan Goransson
282                            de Pelsmaeker, Mr. Alfons
283                           Dorking, Mr. Edward Arthur
284                           Smith, Mr. Richard William
285                                  Stankovic, Mr. Ivan
286                              de Mulder, Mr. Theodore
287                                 Naidenoff, Mr. Penko
288                                 Hosono, Mr. Masabumi
289                                 Connolly, Miss. Kate
290                         Barber, Miss. Ellen "Nellie"
291              Bishop, Mrs. Dickinson H (Helen Walton)
292                               Levy, Mr. Rene Jacques
293                                  Haas, Miss. Aloisia
294                                     Mineff, Mr. Ivan
295                                    Lewy, Mr. Ervin G
296                                   Hanna, Mr. Mansour
297                         Allison, Miss. Helen Loraine
298                                Saalfeld, Mr. Adolphe
299      Baxter, Mrs. James (Helene DeLaudeniere Chaput)
300             Kelly, Miss. Anna Katherine "Annie Kate"
301                                   McCoy, Mr. Bernard
302                      Johnson, Mr. William Cahoone Jr
303                                  Keane, Miss. Nora A
304                    Williams, Mr. Howard Hugh "Harry"
305                       Allison, Master. Hudson Trevor
306                              Fleming, Miss. Margaret
307    Penasco y Castellana, Mrs. Victor de Satode (M...
308                                  Abelson, Mr. Samuel
309                       Francatelli, Miss. Laura Mabel
310                       Hays, Miss. Margaret Bechstein
311                           Ryerson, Miss. Emily Borie
312                Lahtinen, Mrs. William (Anna Sylfven)
313                               Hendekovic, Mr. Ignjac
314                                   Hart, Mr. Benjamin
315                      Nilsson, Miss. Helmina Josefina
316                  Kantor, Mrs. Sinai (Miriam Sternin)
317                                 Moraweck, Dr. Ernest
318                             Wick, Miss. Mary Natalie
319    Spedden, Mrs. Frederic Oakley (Margaretta Corn...
320                                   Dennis, Mr. Samuel
321                                     Danoff, Mr. Yoto
322                            Slayter, Miss. Hilda Mary
323    Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...
324                             Sage, Mr. George John Jr
325                             Young, Miss. Marie Grice
326                            Nysveen, Mr. Johan Hansen
327                              Ball, Mrs. (Ada E Hall)
328       Goldsmith, Mrs. Frank John (Emily Alice Brown)
329                         Hippach, Miss. Jean Gertrude
330                                   McCoy, Miss. Agnes
331                                  Partner, Mr. Austen
332                            Graham, Mr. George Edward
333                      Vander Planke, Mr. Leo Edmondus
334    Frauenthal, Mrs. Henry William (Clara Heinshei...
335                                   Denkoff, Mr. Mitto
336                            Pears, Mr. Thomas Clinton
337                      Burns, Miss. Elizabeth Margaret
338                                Dahl, Mr. Karl Edwart
339                         Blackwell, Mr. Stephen Weart
340                       Navratil, Master. Edmond Roger
341                       Fortune, Miss. Alice Elizabeth
342                           Collander, Mr. Erik Gustaf
343           Sedgwick, Mr. Charles Frederick Waddington
344                              Fox, Mr. Stanley Hubert
345                        Brown, Miss. Amelia "Mildred"
346                            Smith, Miss. Marion Elsie
347            Davison, Mrs. Thomas Henry (Mary E Finck)
348               Coutts, Master. William Loch "William"
349                                     Dimic, Mr. Jovan

In [22]:
titanic.Name.iloc[40:69]

40       Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
41    Turpin, Mrs. William John Robert (Dorothy Ann ...
42                                  Kraeff, Mr. Theodor
43             Laroche, Miss. Simonne Marie Anne Andree
44                        Devaney, Miss. Margaret Delia
45                             Rogers, Mr. William John
46                                    Lennon, Mr. Denis
47                            O'Driscoll, Miss. Bridget
48                                  Samaan, Mr. Youssef
49        Arnold-Franchi, Mrs. Josef (Josefine Franchi)
50                           Panula, Master. Juha Niilo
51                         Nosworthy, Mr. Richard Cater
52             Harper, Mrs. Henry Sleeper (Myna Haxtun)
53    Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
54                       Ostby, Mr. Engelhart Cornelius
55                                    Woolner, Mr. Hugh
56                                    Rugg, Miss. Emily
57                                  Novel, Mr. Mansouer
58                         West, Miss. Constance Mirium
59                   Goodwin, Master. William Frederick
60                                Sirayanian, Mr. Orsen
61                                  Icard, Miss. Amelie
62                          Harris, Mr. Henry Birkhardt
63                                Skoog, Master. Harald
64                                Stewart, Mr. Albert A
65                             Moubarek, Master. Gerios
66                         Nye, Mrs. (Elizabeth Ramell)
67                             Crease, Mr. Ernest James
68                      Andersson, Miss. Erna Alexandra
Name: Name, dtype: object

In [23]:
titanic[["Survived",'Name']].head()

   Survived                                               Name
0         0                            Braund, Mr. Owen Harris
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1                             Heikkinen, Miss. Laina
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0                           Allen, Mr. William Henry

In [24]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [25]:
titanic[titanic["Name"]=="Braund, Mr. Owen Harris"]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [26]:
len(titanic[titanic["Age"]==33])

15

In [27]:
titanic[titanic["Name"]=="Fynney, Mr. Joseph J"]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0,NaN,S

In [28]:
titanic[(titanic["Age"]>33) & (titanic["Age"]<38)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0000,NaN,S
189,190,0,3,"Turcin, Mr. Stjepan",male,36.0,0,0,349247,7.8958,NaN,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.0,0,0,3101264,6.4958,NaN,S
211,212,1,2,"Cameron, Miss. Clear Annie",female,35.0,0,0,F.C.C. 13528,21.0000,NaN,S
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1,0,36973,83.4750,C83,S
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.0,1,1,11751,52.5542,D35,S
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
265,266,0,2,"Reeves, Mr. David",male,36.0,0,0,C.A. 17248,10.5000,NaN,S
269,270,1,1,"Bissette, Miss. Amelia",female,35.0,0,0,PC 17760,135.6333,C99,S
273,274,0,1,"Natsch, Mr. Charles H",male,37.0,0,1,PC 17596,29.7000,C118,C
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,NaN,S
292,293,0,2,"Levy, Mr. Rene Jacques",male,36.0,0,0,SC/Paris 2163,12.8750,D,C
325,326,1,1,"Young, Miss. Marie Grice",female,36.0,0,0,PC 17760,135.6333,C32,C
327,328,1,2,"Ball, Mrs. (Ada E Hall)",female,36.0,0,0,28551,13.0000,D,S
344,345,0,2,"Fox, Mr. Stanley Hubert",male,36.0,0,0,229236,13.0000,NaN,S
363,364,0,3,"Asim, Mr. Adola",male,35.0,0,0,SOTON/O.Q. 3101310,7.0500,NaN,S
383,384,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.0,1,0,113789,52.0000,NaN,S
387,388,1,2,"Buss, Miss. Kate",female,36.0,0,0,27849,13.0000,NaN,S
390,391,1,1,"Carter, Mr. William Ernest",male,36.0,1,2,113760,120.0000,B96 B98,S
405,406,0,2,"Gale, Mr. Shadrach",male,34.0,1,0,28664,21.0000,NaN,S
416,417,1,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0,1,1,28220,32.5000,NaN,S
447,448,1,1,"Seward, Mr. Frederic Kimber",male,34.0,0,0,113794,26.5500,NaN,S
450,451,0,2,"West, Mr. Edwy Arthur",male,36.0,1,2,C.A. 34651,27.7500,NaN,S
461,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
476,477,0,2,"Renouf, Mr. Peter Henry",male,34.0,1,0,31027,21.0000,NaN,S
486,487,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.0,1,0,19943,90.0000,C93,S
503,504,0,3,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.5875,NaN,S
512,513,1,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S
516,517,1,2,"Lemore, Mrs. (Amelia Milley)",female,34.0,0,0,C.A. 34260,10.5000,F33,S
518,519,1,2,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.0,1,0,226875,26.0000,NaN,S
540,541,1,1,"Crosby, Miss. Harriet R",female,36.0,0,2,WE/P 5735,71.0000,B22,S
559,560,1,3,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",female,36.0,1,0,345572,17.4000,NaN,S
572,573,1,1,"Flynn, Mr. John Irwin (""Irving"")",male,36.0,0,0,PC 17474,26.3875,E25,S
576,577,1,2,"Garside, Miss. Ethel",female,34.0,0,0,243880,13.0000,NaN,S
583,584,0,1,"Ross, Mr. John Hugo",male,36.0,0,0,13049,40.1250,A10,C
590,591,0,3,"Rintamaki, Mr. Matti",male,35.0,0,0,STON/O 2. 3101273,7.1250,NaN,S
594,595,0,2,"Chapman, Mr. John Henry",male,37.0,1,0,SC/AH 29037,26.0000,NaN,S
595,596,0,3,"Van Impe, Mr. Jean Baptiste",male,36.0,1,1,345773,24.1500,NaN,S
604,605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.0,0,0,111426,26.5500,NaN,C
605,606,0,3,"Lindell, Mr. Edvard Bengtsson",male,36.0,1,0,349910,15.5500,NaN,S
614,615,0,3,"Brocklebank, Mr. William Alfred",male,35.0,0,0,364512,8.0500,NaN,S
616,617,0,3,"Danbom, Mr. Ernst Gilbert",male,34.0,1,1,347080,14.4000,NaN,S
663,664,0,3,"Coleff, Mr. Peju",male,36.0,0,0,349210,7.4958,NaN,S
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
701,702,1,1,"Silverthorne, Mr. Spencer Victor",male,35.0,0,0,PC 17475,26.2875,E24,S
722,723,0,2,"Gillespie, Mr. William Henry",male,34.0,0,0,12233,13.0000,NaN,S
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
741,742,0,1,"Cavendish, Mr. Tyrell William",male,36.0,1,0,19877,78.8500,C46,S
758,759,0,3,"Theobald, Mr. Thomas Leonard",male,34.0,0,0,363294,8.0500,NaN,S
763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0,1,2,113760,120.0000,B96 B98,S
800,801,0,2,"Ponesell, Mr. Martin",male,34.0,0,0,250647,13.0000,NaN,S
812,813,0,2,"Slemen, Mr. Richard James",male,35.0,0,0,28206,10.5000,NaN,S
843,844,0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C
847,848,0,3,"Markoff, Mr. Marin",male,35.0,0,0,349213,7.8958,NaN,C

In [29]:
titanic[(titanic["Age"]>33) & (titanic["Age"]<35)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.0,0,0,3101264,6.4958,NaN,S
405,406,0,2,"Gale, Mr. Shadrach",male,34.0,1,0,28664,21.0000,NaN,S
416,417,1,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0,1,1,28220,32.5000,NaN,S
447,448,1,1,"Seward, Mr. Frederic Kimber",male,34.0,0,0,113794,26.5500,NaN,S
461,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S
476,477,0,2,"Renouf, Mr. Peter Henry",male,34.0,1,0,31027,21.0000,NaN,S
516,517,1,2,"Lemore, Mrs. (Amelia Milley)",female,34.0,0,0,C.A. 34260,10.5000,F33,S
576,577,1,2,"Garside, Miss. Ethel",female,34.0,0,0,243880,13.0000,NaN,S
616,617,0,3,"Danbom, Mr. Ernst Gilbert",male,34.0,1,1,347080,14.4000,NaN,S
722,723,0,2,"Gillespie, Mr. William Henry",male,34.0,0,0,12233,13.0000,NaN,S
758,759,0,3,"Theobald, Mr. Thomas Leonard",male,34.0,0,0,363294,8.0500,NaN,S
800,801,0,2,"Ponesell, Mr. Martin",male,34.0,0,0,250647,13.0000,NaN,S
843,844,0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C

In [30]:
titanic[(titanic["Age"]>33) & (titanic["Age"]<40)].groupby("Fare",sort=True).sum()

          PassengerId  Survived  Pclass    Age  SibSp  Parch
Fare
0.0000           1810         0       5  113.0      0      0
6.4375            844         0       3   34.5      0      0
6.4958            203         0       3   34.0      0      0
7.0500            830         0       6   73.0      0      0
7.1250            591         0       3   35.0      0      0
7.4958            664         0       3   36.0      0      0
7.8958           1147         0       9  109.0      0      0
7.9250           1035         1       9  115.0      2      0
8.0500           1841         0      12  138.0      0      0
8.6625            472         0       3   38.0      0      0
9.5875            504         0       3   37.0      0      0
10.5000          1596         1       6  105.0      0      0
12.8750           293         0       2   36.0      0      0
13.0000          5147         4      20  360.0      0      0
14.4000           617         0       3   34.0      1      1
15.5500           606         0       3   36.0      1      0
17.4000           560         1       3   36.0      1      0
20.2500           280         1       3   35.0      1      1
21.0000          1095         1       6  103.0      2      0
23.0000            99         1       2   34.0      0      1
24.1500          1408         0       6   75.0      1      1
26.0000          2090         1      12  217.5      3      2
26.2875          1215         2       2   71.0      0      0
26.3875           573         1       1   36.0      0      0
26.5500          1053         2       2   69.0      0      0
27.7500           451         0       2   36.0      1      2
29.1250           886         0       3   39.0      0      5
29.7000           274         0       1   37.0      0      1
31.2750           625         0       6   78.0      2     10
31.3875            26         1       3   38.0      1      5
32.5000           417         1       2   34.0      1      1
40.1250           584         0       1   36.0      0      0
52.0000           384         1       1   35.0      1      0
52.5542           249         1       1   37.0      1      1
53.1000           142         1       2   72.0      2      0
55.9000           578         1       1   39.0      1      0
71.0000           541         1       1   36.0      0      2
71.2833             2         1       1   38.0      1      0
78.8500           742         0       1   36.0      1      0
79.6500           559         1       1   39.0      1      1
80.0000            62         1       1   38.0      0      0
83.1583           836         1       1   39.0      1      1
83.4750           231         1       1   35.0      1      0
90.0000           712         2       2   73.0      2      0
110.8833          582         1       1   39.0      1      1
120.0000         1155         2       2   72.0      2      4
135.6333          596         2       2   71.0      0      0
153.4625          333         0       1   38.0      0      1
227.5250          717         1       1   38.0      0      0
512.3292         1677         3       3  106.0      0      1

In [31]:
data={
    
    "col1":list(np.random.randint(1,100,size=(10))),
    "col2":list(np.random.randint(1,100,size=(10))),
    "col3":list(np.random.randint(1,100,size=(10))),
    "col4":list(np.random.randint(1,100,size=(10))),
    "col5":list(np.random.randint(1,100,size=(10)))
}

In [32]:
data

{'col1': [54, 11, 57, 6, 7, 38, 73, 79, 15, 88],
 'col2': [90, 39, 82, 12, 34, 13, 48, 30, 82, 10],
 'col3': [74, 38, 38, 41, 58, 76, 28, 56, 94, 75],
 'col4': [57, 70, 79, 83, 54, 1, 14, 16, 97, 33],
 'col5': [96, 22, 49, 83, 80, 78, 22, 8, 91, 11]}

In [33]:
df=pd.DataFrame(data)

In [34]:
df

   col1  col2  col3  col4  col5
0    54    90    74    57    96
1    11    39    38    70    22
2    57    82    38    79    49
3     6    12    41    83    83
4     7    34    58    54    80
5    38    13    76     1    78
6    73    48    28    14    22
7    79    30    56    16     8
8    15    82    94    97    91
9    88    10    75    33    11

In [35]:
df=pd.Series(data=["Riad","Ripon"],index=[1,2])
# df=pd.Series(data)

In [36]:
df

1     Riad
2    Ripon
dtype: object

In [37]:
dt=["riad","ripon"]

In [38]:
pd.Series(data=dt)

0     riad
1    ripon
dtype: object

In [39]:
dt=list(np.random.randint(1,100,size=(10)))

In [40]:
dt

[86, 87, 82, 93, 27, 8, 57, 26, 13, 5]

In [41]:
d=pd.Series(list(np.random.randint(1,100,size=(10))))

In [42]:
d

0    95
1    99
2    78
3    71
4    58
5    13
6    76
7    11
8    22
9    82
dtype: int32

In [43]:
s=pd.DataFrame(data)["col1"]

In [44]:
s

0    54
1    11
2    57
3     6
4     7
5    38
6    73
7    79
8    15
9    88
Name: col1, dtype: int32

In [45]:
type(s)

pandas.core.series.Series

In [46]:
titanic.groupby("Age",sort=True).sum()

       PassengerId  Survived  Pclass  SibSp  Parch       Fare
Age
0.42           804         1       3      0      1     8.5167
0.67           756         1       2      1      1    14.5000
0.75          1115         2       6      4      2    38.5166
0.83           911         2       4      1      3    47.7500
0.92           306         1       1      1      2   151.5500
1.00          2908         5      19     13     11   210.0417
2.00          3469         3      26     21     13   375.3625
3.00          1632         5      15     11      8   154.6917
4.00          4661         7      26     16     14   295.4333
5.00          1520         4      11      7      5    90.8708
6.00          2287         2       8      4      4    76.7500
7.00           866         1       8      8      4    95.0625
8.00          1601         2      10      8      5   113.2000
9.00          3498         2      24     20     14   223.5083
10.00         1240         0       6      3      4    52.0500
11.00         2138         1      10     10      6   216.9625
12.00          126         1       3      1      0    11.2417
13.00         1228         2       5      0      1    26.7292
14.00         1872         3      15     12      5   255.7542
14.50          112         0       3      1      0    14.4542
15.00         2773         4      13      2      2   248.2751
16.00         7179         6      43     13      9   437.6667
17.00         5499         6      31      8      5   369.0625
18.00        13423         9      64     10     11   989.6500
19.00         9735         9      59      8      5   696.7374
20.00         7396         3      45      3      1   129.3626
20.50          228         0       3      0      0     7.2500
21.00         9365         5      62      8      5   757.5749
22.00         9875        11      69      4      6   688.6291
23.00         7654         5      32      6      4   569.9208
23.50          297         0       3      0      0     7.2292
24.00        12668        15      66     15     16  1291.0707
24.50          677         0       3      0      0     8.0500
25.00        12417         6      56     10      6   561.5626
26.00         7588         6      48      7      3   343.5625
27.00         9448        11      40      4      5   546.5041
28.00        10012         7      58      7      2   525.5040
28.50          794         0       6      0      0    23.3292
29.00         6892         8      48      7      7   541.8165
30.00        10682        10      55      6      1   638.5417
30.50         1583         0       6      0      0    15.8000
31.00         9982         8      36      8      6   629.1542
32.00         8884         9      46      5      1   437.8208
32.50          247         1       4      1      0    43.0708
33.00         7587         6      34      7      5   387.3833
34.00         6628         6      33      5      3   249.5458
34.50          844         0       3      0      0     6.4375
35.00         7429        11      33      5      1  1607.6250
36.00        10500        11      41      8     10  1319.2291
36.50          149         0       2      0      2    26.0000
37.00         1865         1      11      5      2   178.8667
38.00         3593         5      20      3      6   690.2666
39.00         8926         5      29      6     18   513.2666
40.00         4430         6      26      5      7   482.4291
40.50          680         0       6      0      2    22.2500
41.00         3128         2      15      2      8   235.1333
42.00         5797         6      26      4      1   482.6334
43.00         3262         1      12      2      8   298.9875
44.00         3934         3      19      4      2   267.8250
45.00         4410         5      24      4      7   441.8209
45.50          536         0       4      0      0    35.7250
46.00         1281         0       4      1      0   166.3750
47.00         4812         1      16      2      1   248.4125
48.00         5968         6      15      5      5   341.0376
49.00         3201         4       8      4      1   359.5751
50.00         4572         5      16      4      2   640.2583
51.00         3193         2      14      1      1   201.2667
52.00         3537         3       8      3      2   308.4167
53.00          572         1       1      2      0    51.4792
54.00         3069         3      12      4      4   355.8167
55.00          509         1       3      0      0    46.5000
55.50          153         0       3      0      0     8.0500
56.00         2171         2       4      0      1   175.9041
57.00         1400         0       4      0      0    22.8500
58.00         1625         3       5      0      3   469.5083
59.00          328         0       5      0      0    20.7500
60.00         2335         2       5      3      2   220.0000
61.00         1124         0       5      0      0    72.0583
62.00         2210         2       5      0      0   143.6000
63.00          760         2       4      1      0    87.5458
64.00          985         0       2      1      4   289.0000
65.00          793         0       5      0      1    96.2792
66.00           34         0       2      0      0    10.5000
70.00         1419         0       3      1      1    81.5000
70.50          117         0       3      0      0     7.7500
71.00          591         0       2      0      0    84.1584
74.00          852         0       3      0      0     7.7750
80.00          631         1       1      0      0    30.0000

In [47]:
titanic.groupby("Pclass")["Fare"].nlargest()

Pclass
1       258    512.3292
        679    512.3292
        737    512.3292
        27     263.0000
        88     263.0000
2       72      73.5000
        120     73.5000
        385     73.5000
        655     73.5000
        665     73.5000
3       159     69.5500
        180     69.5500
        201     69.5500
        324     69.5500
        792     69.5500
Name: Fare, dtype: float64

In [48]:
titanic.groupby("Pclass",sort=False)["Fare"].nlargest()

Pclass
3       159     69.5500
        180     69.5500
        201     69.5500
        324     69.5500
        792     69.5500
1       258    512.3292
        679    512.3292
        737    512.3292
        27     263.0000
        88     263.0000
2       72      73.5000
        120     73.5000
        385     73.5000
        655     73.5000
        665     73.5000
Name: Fare, dtype: float64

In [49]:
titanic=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv",nrows=10)

In [50]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [51]:
titanic=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv",usecols=["Name","Age","SibSp"])

In [52]:
titanic

                                                  Name    Age  SibSp
0                              Braund, Mr. Owen Harris  22.00      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.00      1
2                               Heikkinen, Miss. Laina  26.00      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.00      1
4                             Allen, Mr. William Henry  35.00      0
5                                     Moran, Mr. James    NaN      0
6                              McCarthy, Mr. Timothy J  54.00      0
7                       Palsson, Master. Gosta Leonard   2.00      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.00      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  14.00      1
10                     Sandstrom, Miss. Marguerite Rut   4.00      1
11                            Bonnell, Miss. Elizabeth  58.00      0
12                      Saundercock, Mr. William Henry  20.00      0
13                         Andersson, Mr. Anders Johan  39.00      1
14                Vestrom, Miss. Hulda Amanda Adolfina  14.00      0
15                    Hewlett, Mrs. (Mary D Kingcome)   55.00      0
16                                Rice, Master. Eugene   2.00      4
17                        Williams, Mr. Charles Eugene    NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  31.00      1
19                             Masselmani, Mrs. Fatima    NaN      0
20                                Fynney, Mr. Joseph J  35.00      0
21                               Beesley, Mr. Lawrence  34.00      0
22                         McGowan, Miss. Anna "Annie"  15.00      0
23                        Sloper, Mr. William Thompson  28.00      0
24                       Palsson, Miss. Torborg Danira   8.00      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  38.00      1
26                             Emir, Mr. Farred Chehab    NaN      0
27                      Fortune, Mr. Charles Alexander  19.00      3
28                       O'Dwyer, Miss. Ellen "Nellie"    NaN      0
29                                 Todoroff, Mr. Lalio    NaN      0
30                            Uruchurtu, Don. Manuel E  40.00      0
31      Spencer, Mrs. William Augustus (Marie Eugenie)    NaN      1
32                            Glynn, Miss. Mary Agatha    NaN      0
33                               Wheadon, Mr. Edward H  66.00      0
34                             Meyer, Mr. Edgar Joseph  28.00      1
35                      Holverson, Mr. Alexander Oskar  42.00      1
36                                    Mamee, Mr. Hanna    NaN      0
37                            Cann, Mr. Ernest Charles  21.00      0
38                  Vander Planke, Miss. Augusta Maria  18.00      2
39                         Nicola-Yarred, Miss. Jamila  14.00      1
40      Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  40.00      1
41   Turpin, Mrs. William John Robert (Dorothy Ann ...  27.00      1
42                                 Kraeff, Mr. Theodor    NaN      0
43            Laroche, Miss. Simonne Marie Anne Andree   3.00      1
44                       Devaney, Miss. Margaret Delia  19.00      0
45                            Rogers, Mr. William John    NaN      0
46                                   Lennon, Mr. Denis    NaN      1
47                           O'Driscoll, Miss. Bridget    NaN      0
48                                 Samaan, Mr. Youssef    NaN      2
49       Arnold-Franchi, Mrs. Josef (Josefine Franchi)  18.00      1
50                          Panula, Master. Juha Niilo   7.00      4
51                        Nosworthy, Mr. Richard Cater  21.00      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  49.00      1
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  29.00      1
54                      Ostby, Mr. Engelhart Cornelius  65.00      0
55                                   Woolner, Mr. Hugh    NaN      0
56                                   Rugg, Miss. Emily  21.00      0
57                                 Novel, Mr. Mansouer  28.50      0
58                        West, Miss. Constance Mirium   5.00      1
59                  Goodwin, Master. William Frederick  11.00      5
60                               Sirayanian, Mr. Orsen  22.00      0
61                                 Icard, Miss. Amelie  38.00      0
62                         Harris, Mr. Henry Birkhardt  45.00      1
63                               Skoog, Master. Harald   4.00      3
64                               Stewart, Mr. Albert A    NaN      0
65                            Moubarek, Master. Gerios    NaN      1
66                        Nye, Mrs. (Elizabeth Ramell)  29.00      0
67                            Crease, Mr. Ernest James  19.00      0
68                     Andersson, Miss. Erna Alexandra  17.00      4
69                                   Kink, Mr. Vincenz  26.00      2
70                          Jenkin, Mr. Stephen Curnow  32.00      0
71                          Goodwin, Miss. Lillian Amy  16.00      5
72                                Hood, Mr. Ambrose Jr  21.00      0
73                         Chronopoulos, Mr. Apostolos  26.00      1
74                                       Bing, Mr. Lee  32.00      0
75                             Moen, Mr. Sigurd Hansen  25.00      0
76                                   Staneff, Mr. Ivan    NaN      0
77                            Moutal, Mr. Rahamin Haim    NaN      0
78                       Caldwell, Master. Alden Gates   0.83      0
79                            Dowdell, Miss. Elizabeth  30.00      0
80                                Waelens, Mr. Achille  22.00      0
81                         Sheerlinck, Mr. Jan Baptist  29.00      0
82                      McDermott, Miss. Brigdet Delia    NaN      0
83                             Carrau, Mr. Francisco M  28.00      0
84                                 Ilett, Miss. Bertha  17.00      0
85   Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...  33.00      3
86                              Ford, Mr. William Neal  16.00      1
87                       Slocovski, Mr. Selman Francis    NaN      0
88                          Fortune, Miss. Mabel Helen  23.00      3
89                              Celotti, Mr. Francesco  24.00      0
90                                Christmann, Mr. Emil  29.00      0
91                          Andreasson, Mr. Paul Edvin  20.00      0
92                         Chaffee, Mr. Herbert Fuller  46.00      1
93                             Dean, Mr. Bertram Frank  26.00      1
94                                   Coxon, Mr. Daniel  59.00      0
95                         Shorney, Mr. Charles Joseph    NaN      0
96                           Goldschmidt, Mr. George B  71.00      0
97                     Greenfield, Mr. William Bertram  23.00      0
98                Doling, Mrs. John T (Ada Julia Bone)  34.00      0
99                                   Kantor, Mr. Sinai  34.00      1
100                            Petranec, Miss. Matilda  28.00      0
101                   Petroff, Mr. Pastcho ("Pentcho")    NaN      0
102                          White, Mr. Richard Frasar  21.00      0
103                         Johansson, Mr. Gustaf Joel  33.00      0
104                     Gustafsson, Mr. Anders Vilhelm  37.00      2
105                              Mionoff, Mr. Stoytcho  28.00      0
106                   Salkjelsvik, Miss. Anna Kristine  21.00      0
107                             Moss, Mr. Albert Johan    NaN      0
108                                    Rekic, Mr. Tido  38.00      0
109                                Moran, Miss. Bertha    NaN      1
110                     Porter, Mr. Walter Chamberlain  47.00      0
111                               Zabour, Miss. Hileni  14.50      1
112                             Barton, Mr. David John  22.00      0
113                            Jussila, Miss. Katriina  20.00      1
114                              Attalah, Miss. Malake  17.00      0
115                              Pekoniemi, Mr. Edvard  21.00      0
116                               Connors, Mr. Patrick  70.50      0
117                    Turpin, Mr. William John Robert  29.00      1
118                           Baxter, Mr. Quigg Edmond  24.00      0
119                  Andersson, Miss. Ellis Anna Maria   2.00      4
120                        Hickman, Mr. Stanley George  21.00      2
121                         Moore, Mr. Leonard Charles    NaN      0
122                               Nasser, Mr. Nicholas  32.50      1
123                                Webber, Miss. Susan  32.50      0
124                        White, Mr. Percival Wayland  54.00      0
125                       Nicola-Yarred, Master. Elias  12.00      1
126                                McMahon, Mr. Martin    NaN      0
127                          Madsen, Mr. Fridtjof Arne  24.00      0
128                                  Peter, Miss. Anna    NaN      1
129                                 Ekstrom, Mr. Johan  45.00      0
130                               Drazenoic, Mr. Jozef  33.00      0
131                     Coelho, Mr. Domingos Fernandeo  20.00      0
132     Robins, Mrs. Alexander A (Grace Charity Laury)  47.00      1
133      Weisz, Mrs. Leopold (Mathilde Francoise Pede)  29.00      1
134                     Sobey, Mr. Samuel James Hayden  25.00      0
135                                 Richard, Mr. Emile  23.00      0
136                       Newsom, Miss. Helen Monypeny  19.00      0
137                        Futrelle, Mr. Jacques Heath  37.00      1
138                                Osen, Mr. Olaf Elon  16.00      0
139                                 Giglio, Mr. Victor  24.00      0
140                      Boulos, Mrs. Joseph (Sultana)    NaN      0
141                           Nysten, Miss. Anna Sofia  22.00      0
142  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...  24.00      1
143                                Burke, Mr. Jeremiah  19.00      0
144                         Andrew, Mr. Edgardo Samuel  18.00      0
145                       Nicholls, Mr. Joseph Charles  19.00      1
146       Andersson, Mr. August Edvard ("Wennerstrom")  27.00      0
147                   Ford, Miss. Robina Maggie "Ruby"   9.00      2
148           Navratil, Mr. Michel ("Louis M Hoffman")  36.50      0
149                  Byles, Rev. Thomas Roussel Davids  42.00      0
150                         Bateman, Rev. Robert James  51.00      0
151                  Pears, Mrs. Thomas (Edith Wearne)  22.00      1
152                                   Meo, Mr. Alfonzo  55.50      0
153                    van Billiard, Mr. Austin Blyler  40.50      0
154                              Olsen, Mr. Ole Martin    NaN      0
155                        Williams, Mr. Charles Duane  51.00      0
156                   Gilnagh, Miss. Katherine "Katie"  16.00      0
157                                    Corn, Mr. Harry  30.00      0
158                                Smiljanic, Mr. Mile    NaN      0
159                         Sage, Master. Thomas Henry    NaN      8
160                           Cribb, Mr. John Hatfield  44.00      0
161  Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...  40.00      0
162                         Bengtsson, Mr. John Viktor  26.00      0
163                                    Calic, Mr. Jovo  17.00      0
164                       Panula, Master. Eino Viljami   1.00      4
165    Goldsmith, Master. Frank John William "Frankie"   9.00      0
166             Chibnall, Mrs. (Edith Martha Bowerman)    NaN      0
167    Skoog, Mrs. William (Anna Bernhardina Karlsson)  45.00      1
168                                Baumann, Mr. John D    NaN      0
169                                      Ling, Mr. Lee  28.00      0
170                          Van der hoef, Mr. Wyckoff  61.00      0
171                               Rice, Master. Arthur   4.00      4
172                       Johnson, Miss. Eleanor Ileen   1.00      1
173                          Sivola, Mr. Antti Wilhelm  21.00      0
174                            Smith, Mr. James Clinch  56.00      0
175                             Klasen, Mr. Klas Albin  18.00      1
176                      Lefebre, Master. Henry Forbes    NaN      3
177                         Isham, Miss. Ann Elizabeth  50.00      0
178                                 Hale, Mr. Reginald  30.00      0
179                                Leonard, Mr. Lionel  36.00      0
180                       Sage, Miss. Constance Gladys    NaN      8
181                                   Pernot, Mr. Rene    NaN      0
182              Asplund, Master. Clarence Gustaf Hugo   9.00      4
183                          Becker, Master. Richard F   1.00      2
184                Kink-Heilmann, Miss. Luise Gretchen   4.00      0
185                              Rood, Mr. Hugh Roscoe    NaN      0
186    O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)    NaN      1
187      Romaine, Mr. Charles Hallace ("Mr C Rolmane")  45.00      0
188                                   Bourke, Mr. John  40.00      1
189                                Turcin, Mr. Stjepan  36.00      0
190                                Pinsky, Mrs. (Rosa)  32.00      0
191                              Carbines, Mr. William  19.00      0
192    Andersen-Jensen, Miss. Carla Christine Nielsine  19.00      1
193                         Navratil, Master. Michel M   3.00      1
194          Brown, Mrs. James Joseph (Margaret Tobin)  44.00      0
195                               Lurette, Miss. Elise  58.00      0
196                                Mernagh, Mr. Robert    NaN      0
197                   Olsen, Mr. Karl Siegwart Andreas  42.00      0
198                   Madigan, Miss. Margaret "Maggie"    NaN      0
199             Yrois, Miss. Henriette ("Mrs Harbeck")  24.00      0
200                     Vande Walle, Mr. Nestor Cyriel  28.00      0
201                                Sage, Mr. Frederick    NaN      8
202                         Johanson, Mr. Jakob Alfred  34.00      0
203                               Youseff, Mr. Gerious  45.50      0
204                           Cohen, Mr. Gurshon "Gus"  18.00      0
205                         Strom, Miss. Telma Matilda   2.00      0
206                         Backstrom, Mr. Karl Alfred  32.00      1
207                        Albimona, Mr. Nassef Cassem  26.00      0
208                          Carr, Miss. Helen "Ellen"  16.00      0
209                                   Blank, Mr. Henry  40.00      0
210                                     Ali, Mr. Ahmed  24.00      0
211                         Cameron, Miss. Clear Annie  35.00      0
212                             Perkin, Mr. John Henry  22.00      0
213                        Givard, Mr. Hans Kristensen  30.00      0
214                                Kiernan, Mr. Philip    NaN      1
215                            Newell, Miss. Madeleine  31.00      1
216                             Honkanen, Miss. Eliina  27.00      0
217                       Jacobsohn, Mr. Sidney Samuel  42.00      1
218                              Bazzani, Miss. Albina  32.00      0
219                                 Harris, Mr. Walter  30.00      0
220                     Sunderland, Mr. Victor Francis  16.00      0
221                               Bracken, Mr. James H  27.00      0
222                            Green, Mr. George Henry  51.00      0
223                               Nenkoff, Mr. Christo    NaN      0
224                       Hoyt, Mr. Frederick Maxfield  38.00      1
225                       Berglund, Mr. Karl Ivar Sven  22.00      0
226                          Mellors, Mr. William John  19.00      0
227                    Lovell, Mr. John Hall ("Henry")  20.50      0
228                          Fahlstrom, Mr. Arne Jonas  18.00      0
229                            Lefebre, Miss. Mathilde    NaN      3
230       Harris, Mrs. Henry Birkhardt (Irene Wallach)  35.00      1
231                           Larsson, Mr. Bengt Edvin  29.00      0
232                          Sjostedt, Mr. Ernst Adolf  59.00      0
233                     Asplund, Miss. Lillian Gertrud   5.00      4
234                  Leyson, Mr. Robert William Norman  24.00      0
235                       Harknett, Miss. Alice Phoebe    NaN      0
236                                  Hold, Mr. Stephen  44.00      1
237                   Collyer, Miss. Marjorie "Lottie"   8.00      0
238                    Pengelly, Mr. Frederick William  19.00      0
239                             Hunt, Mr. George Henry  33.00      0
240                              Zabour, Miss. Thamine    NaN      1
241                     Murphy, Miss. Katherine "Kate"    NaN      1
242                    Coleridge, Mr. Reginald Charles  29.00      0
243                      Maenpaa, Mr. Matti Alexanteri  22.00      0
244                               Attalah, Mr. Sleiman  30.00      0
245                        Minahan, Dr. William Edward  44.00      2
246              Lindahl, Miss. Agda Thorilda Viktoria  25.00      0
247                    Hamalainen, Mrs. William (Anna)  24.00      0
248                      Beckwith, Mr. Richard Leonard  37.00      1
249                      Carter, Rev. Ernest Courtenay  54.00      1
250                             Reed, Mr. James George    NaN      0
251         Strom, Mrs. Wilhelm (Elna Matilda Persson)  29.00      1
252                          Stead, Mr. William Thomas  62.00      0
253                           Lobb, Mr. William Arthur  30.00      1
254           Rosblom, Mrs. Viktor (Helena Wilhelmina)  41.00      0
255            Touma, Mrs. Darwis (Hanne Youssef Razi)  29.00      0
256                     Thorne, Mrs. Gertrude Maybelle    NaN      0
257                               Cherry, Miss. Gladys  30.00      0
258                                   Ward, Miss. Anna  35.00      0
259                        Parrish, Mrs. (Lutie Davis)  50.00      0
260                                  Smith, Mr. Thomas    NaN      0
261                  Asplund, Master. Edvin Rojj Felix   3.00      4
262                                  Taussig, Mr. Emil  52.00      1
263                              Harrison, Mr. William  40.00      0
264                                 Henry, Miss. Delia    NaN      0
265                                  Reeves, Mr. David  36.00      0
266                          Panula, Mr. Ernesti Arvid  16.00      4
267                           Persson, Mr. Ernst Ulrik  25.00      1
268      Graham, Mrs. William Thompson (Edith Junkins)  58.00      0
269                             Bissette, Miss. Amelia  35.00      0
270                              Cairns, Mr. Alexander    NaN      0
271                       Tornquist, Mr. William Henry  25.00      0
272          Mellinger, Mrs. (Elizabeth Anne Maidment)  41.00      0
273                              Natsch, Mr. Charles H  37.00      0
274                         Healy, Miss. Hanora "Nora"    NaN      0
275                  Andrews, Miss. Kornelia Theodosia  63.00      1
276                  Lindblom, Miss. Augusta Charlotta  45.00      0
277                        Parkes, Mr. Francis "Frank"    NaN      0
278                                 Rice, Master. Eric   7.00      4
279                   Abbott, Mrs. Stanton (Rosa Hunt)  35.00      1
280                                   Duane, Mr. Frank  65.00      0
281                   Olsson, Mr. Nils Johan Goransson  28.00      0
282                          de Pelsmaeker, Mr. Alfons  16.00      0
283                         Dorking, Mr. Edward Arthur  19.00      0
284                         Smith, Mr. Richard William    NaN      0
285                                Stankovic, Mr. Ivan  33.00      0
286                            de Mulder, Mr. Theodore  30.00      0
287                               Naidenoff, Mr. Penko  22.00      0

In [53]:
import seaborn as sns

In [54]:
df2=sns.load_dataset("iris")

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
17            5.1          3.5           1.4          0.3      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
35            5.0          3.2           1.2          0.2      setosa
36            5.5          3.5           1.3          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
39            5.1          3.4           1.5          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
43            5.0          3.5           1.6          0.6      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
71            6.1          2.8           4.0          1.3  versicolor
72            6.3          2.5           4.9          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
84            5.4          3.0           4.5          1.5  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3  versicolor
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2  versicolor
93            5.0          2.3           3.3          1.0  versicolor
94            5.6          2.7           4.2          1.3  versicolor
95            5.7          3.0           4.2          1.2  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

In [56]:
df3=sns.load_dataset("titanic")

In [57]:
df3.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [59]:
df3=df3.drop("who",axis=1)

In [60]:
df3

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,Third,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,False,NaN,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,False,C,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,True,NaN,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,True,E,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,False,NaN,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,False,NaN,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,False,NaN,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,False,G,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,False,C,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,True,NaN,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,False,NaN,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,False,NaN,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,True,NaN,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,False,NaN,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,True,NaN,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,True,D,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,False,NaN,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,True,A,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,False,NaN,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,True,NaN,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,True,NaN,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,True,NaN,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,False,B,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,False,NaN,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,True,NaN,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,True,NaN,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,True,NaN,Southampton,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,True,NaN,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,False,NaN,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,False,NaN,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,False,NaN,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,False,NaN,Southampton,no,False
42,0,3,male,NaN,0,0,7.8958,C,Third,True,NaN,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,False,NaN,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,False,NaN,Queenstown,yes,True
45,0,3,male,NaN,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,True,NaN,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,True,NaN,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,False,NaN,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,False,NaN,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,True,NaN,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,False,D,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,False,NaN,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,True,B,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,True,C,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,False,NaN,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,True,NaN,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,False,NaN,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,False,NaN,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,True,NaN,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,False,B,NaN,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,True,C,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,Third,False,NaN,Southampton,no,False
64,0,1,male,NaN,0,0,27.7208,C,First,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,True,NaN,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,False,F,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,Third,True,NaN,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,Third,False,NaN,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,Third,True,NaN,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,Second,True,NaN,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,Third,False,NaN,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,Second,True,NaN,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,Third,True,NaN,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,Third,True,NaN,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,Third,True,F,Southampton,no,True
76,0,3,male,NaN,0,0,7.8958,S,Third,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,False,NaN,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,Third,False,NaN,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,Third,True,NaN,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,Third,True,NaN,Southampton,yes,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,False,NaN,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,True,NaN,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,Second,False,NaN,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,Third,False,NaN,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,Third,True,NaN,Southampton,no,False
87,0,3,male,NaN,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
88,1,1,female,23.00,3,2,263.0000,S,First,False,C,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,Third,True,NaN,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,True,E,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,Third,True,NaN,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,Third,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,True,D,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,Second,False,NaN,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,Second,True,NaN,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,Third,False,NaN,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,True,NaN,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,True,D,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,Third,True,NaN,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,Third,True,NaN,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,Third,True,NaN,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,False,NaN,Southampton,yes,True
107,1,3,male,NaN,0,0,7.7750,S,Third,True,NaN,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,Third,True,NaN,Southampton,no,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,False,NaN,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,True,C,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,Third,False,NaN,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,Third,False,NaN,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,False,NaN,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,Third,True,NaN,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,True,NaN,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,Second,True,NaN,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,True,B,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,Third,False,NaN,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,Second,True,NaN,Southampton,no,False
121,0,3,male,NaN,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
122,0,2,male,32.50,1,0,30.0708,C,Second,True,NaN,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,False,E,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,True,D,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,False,NaN,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,True,NaN,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,Third,True,NaN,Southampton,yes,True
128,1,3,female,NaN,1,1,22.3583,C,Third,False,F,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,Third,True,NaN,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,Third,True,NaN,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,Third,True,NaN,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,Third,False,NaN,Southampton,no,False
133,1,2,female,29.00,1,0,26.0000,S,Second,False,NaN,Southampton,yes,False
134,0,2,male,25.00,0,0,13.0000,S,Second,True,NaN,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,True,NaN,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,False,D,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,True,C,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,Third,True,NaN,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,True,B,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,False,NaN,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,Third,False,NaN,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,False,NaN,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,True,NaN,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,Second,True,NaN,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,Second,True,NaN,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,Third,True,NaN,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,Third,False,NaN,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,Second,True,F,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,Second,True,NaN,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,Second,True,NaN,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,False,C,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,True,NaN,Southampton,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,True,NaN,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,True,NaN,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,False,NaN,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,True,NaN,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,True,NaN,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,Third,True,NaN,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,Second,False,NaN,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,Third,True,NaN,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,Third,True,NaN,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,Third,False,NaN,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,Third,False,NaN,Southampton,yes,False
166,1,1,female,NaN,0,1,55.0000,S,First,False,E,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,Third,False,NaN,Southampton,no,False
168,0,1,male,NaN,0,0,25.9250,S,First,True,NaN,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,Third,True,NaN,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,True,B,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,False,NaN,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,Third,False,NaN,Southampton,yes,False
173,0,3,male,21.00,0,0,7.9250,S,Third,True,NaN,Southampton,no,True
174,0,1,male,56.00,0,0,30.6958,C,First,True,A,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,Third,True,NaN,Southampton,no,False
176,0,3,male,NaN,3,1,25.4667,S,Third,True,NaN,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,False,C,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,Second,True,NaN,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,Third,True,NaN,Southampton,no,True
180,0,3,female,NaN,8,2,69.5500,S,Third,False,NaN,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,True,NaN,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,Third,False,NaN,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,Second,False,F,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,False,NaN,Southampton,yes,False
185,0,1,male,NaN,0,0,50.0000,S,First,True,A,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,False,NaN,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,True,NaN,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,Third,True,NaN,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,Third,True,NaN,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,Second,False,NaN,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,Second,True,NaN,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,Third,False,NaN,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,False,F,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,False,B,Cherbourg,yes,True
196,0,3,male,NaN,0,0,7.7500,Q,Third,True,NaN,Queenstown,no,True
197,0,3,male,42.00,0,1,8.4042,S,Third,True,NaN,Southampton,no,False
198,1,3,female,NaN,0,0,7.7500,Q,Third,False,NaN,Queenstown,yes,True
199,0,2,female,24.00,0,0,13.0000,S,Second,False,NaN,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,Third,True,NaN,Southampton,no,True
201,0,3,male,NaN,8,2,69.5500,S,Third,True,NaN,Southampton,no,False
202,0,3,male,34.00,0,0,6.4958,S,Third,True,NaN,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,Third,True,NaN,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,Third,True,NaN,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,Third,False,G,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,Third,True,NaN,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,Third,True,NaN,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,False,NaN,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,True,A,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,Third,True,NaN,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,Second,False,NaN,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,Third,True,NaN,Southampton,no,True
213,0,2,male,30.00,0,0,13.0000,S,Second,True,NaN,Southampton,no,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,True,NaN,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,False,D,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,Third,False,NaN,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,Second,True,NaN,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,False,D,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,Second,True,NaN,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,Third,True,NaN,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,Second,True,NaN,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,Third,True,NaN,Southampton,no,True
223,0,3,male,NaN,0,0,7.8958,S,Third,True,NaN,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,True,C,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,Third,True,NaN,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,Second,True,NaN,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,Third,True,NaN,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,Second,True,NaN,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,False,NaN,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,False,C,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,Third,True,NaN,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,Second,True,NaN,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,Third,False,NaN,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,Second,True,NaN,Southampton,no,True
235,0,3,female,NaN,0,0,7.5500,S,Third,False,NaN,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,Second,True,NaN,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,Second,False,NaN,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,Second,True,NaN,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,Second,True,NaN,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,False,NaN,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,False,NaN,Queenstown,yes,False
242,0,2,male,29.00,0,0,10.5000,S,Second,True,NaN,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,Third,True,NaN,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,Third,True,NaN,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,True,C,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,Third,False,NaN,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,False,NaN,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,True,D,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,Second,True,NaN,Southampton,no,False
250,0,3,male,NaN,0,0,7.2500,S,Third,True,NaN,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,Third,False,G,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,True,C,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,Third,True,NaN,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,Third,False,NaN,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,False,NaN,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,False,NaN,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,False,B,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,False,NaN,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,Second,False,NaN,Southampton,yes,False
260,0,3,male,NaN,0,0,7.7500,Q,Third,True,NaN,Queenstown,no,True
261,1,3,male,3.00,4,2,31.3875,S,Third,False,NaN,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,True,E,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,True,B,Southampton,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,False,NaN,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,Second,True,NaN,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,Third,True,NaN,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,Third,True,NaN,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,False,C,Southampton,yes,False
269,1,1,female,35.00,0,0,135.6333,S,First,False,C,Southampton,yes,True
270,0,1,male,NaN,0,0,31.0000,S,First,True,NaN,Southampton,no,True
271,1,3,male,25.00,0,0,0.0000,S,Third,True,NaN,Southampton,yes,True
272,1,2,female,41.00,0,1,19.5000,S,Second,False,NaN,Southampton,yes,False
273,0,1,male,37.00,0,1,29.7000,C,First,True,C,Cherbourg,no,False
274,1,3,female,NaN,0,0,7.7500,Q,Third,False,NaN,Queenstown,yes,True
275,1,1,female,63.00,1,0,77.9583,S,First,False,D,Southampton,yes,False
276,0,3,female,45.00,0,0,7.7500,S,Third,False,NaN,Southampton,no,True
277,0,2,male,NaN,0,0,0.0000,S,Second,True,NaN,Southampton,no,True
278,0,3,male,7.00,4,1,29.1250,Q,Third,False,NaN,Queenstown,no,False
279,1,3,female,35.00,1,1,20.2500,S,Third,False,NaN,Southampton,yes,False
280,0,3,male,65.00,0,0,7.7500,Q,Third,True,NaN,Queenstown,no,True
281,0,3,male,28.00,0,0,7.8542,S,Third,True,NaN,Southampton,no,True
282,0,3,male,16.00,0,0,9.5000,S,Third,True,NaN,Southampton,no,True
283,1,3,male,19.00,0,0,8.0500,S,Third,True,NaN,Southampton,yes,True
284,0,1,male,NaN,0,0,26.0000,S,First,True,A,Southampton,no,True
285,0,3,male,33.00,0,0,8.6625,C,Third,True,NaN,Cherbourg,no,True
286,1,3,male,30.00,0,0,9.5000,S,Third,True,NaN,Southampton,yes,True
287,0,3,male,22.00,0,0,7.8958,S,Third,True,NaN,Southampton,no,True
288,1,2,male,42.00,0,0,13.0000,S,Second,True,NaN,Southampton,yes,True
289,1,3,female,22.00,0,0,7.7500,Q,Third,False,NaN,Queenstown,yes,True
290,1,1,female,26.00,0,0,78.8500,S,First,False,NaN,Southampton,yes,True
291,1,1,female,19.00,1,0,91.0792,C,First,False,B,Cherbourg,yes,False

In [62]:
df3.age.isnull().sum()

177

In [67]:
df3.age=df3.age.interpolate()

In [68]:
df3.age.isnull().sum()

0

In [69]:
df3.isna().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [72]:
df3.deck.isna().sum()

688

In [73]:
df3.deck.unique()

[NaN, 'C', 'E', 'G', 'D', 'A', 'B', 'F']
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']